.navbar {
    background-color: #ffd872;
    padding: 5px;
    width: 100%;
    display:flexbox;
    flex-direction: row;

  }
  /* L.E.A. BRAND */
  .navbar-brand {
    display: flex;
    flex-direction: row;
    height: 83px;
    margin-right: auto;
    min-width:13em;
    position: relative;
  }
  /* L.E.A. LOGO */
  .navbar-logo {
    position: absolute;
    bottom: 0;
    margin: 3px;
  
  }
/*  LOGO IMAGE */
  #navbarImgLogo {
    width: 60px;
    height: 60px;
    border: #fc6238 2px dashed;
    border-radius: 50%;
  }

  /* LIBERA EL ARTE */
  .brand-text {
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 0;
  }

/* NAV LINK CONTAINER */
  .navbar-start {
    margin-right: 10px;
    position: relative;
    min-width:12em;
  }

  .browse-nav-link{
    position: absolute;
    bottom: 0;
  }

  .mission-nav-link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
/* PROFILE AND DROPDOWN CONTAINER */
  .navbar-end {
    margin-left: 5px;
    display:inline-block;
  }

/* USER PROFILE CONTAINER */
  .user-navbar-info {
    display: block;
   
  }
/* NAV PROFILE THUMBNAIL */
  #nav-profpic {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-dropdown-link {
    cursor: crosshair;
    color: #fc6238;
    text-decoration: none;
    font-size: small;
    width: 100px;
    align-items: center;
  }
  
  .navbar-item {
    cursor: crosshair;
    color: #fc6238;
    text-decoration: none;
    font-size: small;
    text-align:left;
  }

  .navbar-item:hover {
    color: #0b0909;
  }


  .navbar-menu {
    display:inline-flex;
    margin-right: 10px;
    min-width: 250px;
    height: 83px;
  }

  .dropdown-item {
    border-bottom: #8c8989 1px solid;
    margin-left: 0px;
    padding: 3px;
    
  }

  .navbar-dropdown-link:hover {
    color: #0b0909;
  }
  
  .navbar-dropdown {
    display: none;
    position:absolute;
    background-color: #fde29eaf;
    text-decoration: none;
    width: 40%;
    margin: auto;   
    /* padding: 2px; */
    transform: translateX(-20%);
  }
  
 
  .has-dropdown:hover .navbar-dropdown {
    display: block;
    cursor: crosshair;
  }